ubltr/Service References/INGUBL/EFatura.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://gib.gov.tr/vedop3/eFatura" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="EFatura" targetNamespace="http://gib.gov.tr/vedop3/eFatura" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema xmlns:tns="http://www.w3.org/2005/05/xmlmime" targetNamespace="http://www.w3.org/2005/05/xmlmime" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:complexType name="base64Binary">
        <xs:simpleContent>
          <xs:extension base="xs:base64Binary">
            <xs:attribute ref="tns:contentType" />
          </xs:extension>
        </xs:simpleContent>
      </xs:complexType>
      <xs:complexType name="hexBinary">
        <xs:simpleContent>
          <xs:extension base="xs:string">
            <xs:attribute ref="tns:contentType" />
          </xs:extension>
        </xs:simpleContent>
      </xs:complexType>
      <xs:attribute name="contentType" type="xs:string" />
    </xs:schema>
    <xs:schema xmlns:ns1="http://www.w3.org/2005/05/xmlmime" targetNamespace="http://gib.gov.tr/vedop3/eFatura" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:import namespace="http://www.w3.org/2005/05/xmlmime" />
      <xs:element name="EFaturaFault" type="tns:EFaturaFaultType" />
      <xs:element name="documentRequest" type="tns:documentType" />
      <xs:element name="documentResponse" type="tns:documentReturnType" />
      <xs:element name="getAddressInfoRequest" type="tns:AddressInfoRequestType" />
      <xs:element name="getAddressInfoResponse" type="tns:AddressInfoResponseType" />
      <xs:element name="getAppRespRequest" type="tns:getAppRespRequestType" />
      <xs:element name="getAppRespResponse" type="tns:getAppRespResponseType" />
      <xs:complexType name="AddressInfoRequestType">
        <xs:sequence>
          <xs:element name="identifier" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="documentType">
        <xs:sequence>
          <xs:element minOccurs="0" name="fileName" type="xs:string" />
          <xs:element minOccurs="0" name="binaryData" type="ns1:base64Binary" />
          <xs:element minOccurs="0" name="hash" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="AddressInfoResponseType">
        <xs:sequence>
          <xs:element minOccurs="0" name="addressFound" type="xs:boolean" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="aliasList" nillable="true" type="xs:string" />
          <xs:element name="identifier" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="EFaturaFaultType">
        <xs:sequence>
          <xs:element minOccurs="0" name="code" type="xs:int" />
          <xs:element minOccurs="0" name="msg" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getAppRespRequestType">
        <xs:sequence>
          <xs:element minOccurs="0" name="instanceIdentifier" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getAppRespResponseType">
        <xs:sequence>
          <xs:element minOccurs="0" name="applicationResponse" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="documentReturnType">
        <xs:sequence>
          <xs:element minOccurs="0" name="msg" type="xs:string" />
          <xs:element minOccurs="0" name="hash" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="EFaturaFaultMessage">
    <wsdl:part name="EFaturaFaultMessage" element="tns:EFaturaFault" />
  </wsdl:message>
  <wsdl:message name="getAddressInfo">
    <wsdl:part name="parameters" element="tns:getAddressInfoRequest" />
  </wsdl:message>
  <wsdl:message name="getAddressInfoResponse">
    <wsdl:part name="parameters" element="tns:getAddressInfoResponse" />
  </wsdl:message>
  <wsdl:message name="sendDocument">
    <wsdl:part name="document" element="tns:documentRequest" />
  </wsdl:message>
  <wsdl:message name="getApplicationResponse">
    <wsdl:part name="getApplicationResponseRequestPart" element="tns:getAppRespRequest" />
  </wsdl:message>
  <wsdl:message name="getApplicationResponseResponse">
    <wsdl:part name="getApplicationResponseResponsePart" element="tns:getAppRespResponse" />
  </wsdl:message>
  <wsdl:message name="sendDocumentResponse">
    <wsdl:part name="sendDocumentReturn" element="tns:documentResponse" />
  </wsdl:message>
  <wsdl:portType name="EFaturaPortType">
    <wsdl:operation name="getAddressInfo">
      <wsdl:input name="getAddressInfo" message="tns:getAddressInfo" />
      <wsdl:output name="getAddressInfoResponse" message="tns:getAddressInfoResponse" />
      <wsdl:fault name="EFaturaFaultMessage" message="tns:EFaturaFaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="getApplicationResponse">
      <wsdl:input name="getApplicationResponse" message="tns:getApplicationResponse" />
      <wsdl:output name="getApplicationResponseResponse" message="tns:getApplicationResponseResponse" />
      <wsdl:fault name="EFaturaFaultMessage" message="tns:EFaturaFaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="sendDocument">
      <wsdl:input name="sendDocument" message="tns:sendDocument" />
      <wsdl:output name="sendDocumentResponse" message="tns:sendDocumentResponse" />
      <wsdl:fault name="EFaturaFaultMessage" message="tns:EFaturaFaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EFaturaSoapBinding" type="tns:EFaturaPortType">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getAddressInfo">
      <soap12:operation soapAction="getAddressInfo" style="document" />
      <wsdl:input name="getAddressInfo">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getAddressInfoResponse">
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="EFaturaFaultMessage">
        <soap12:fault use="literal" name="EFaturaFaultMessage" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getApplicationResponse">
      <soap12:operation soapAction="getApplicationResponse" style="document" />
      <wsdl:input name="getApplicationResponse">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getApplicationResponseResponse">
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="EFaturaFaultMessage">
        <soap12:fault use="literal" name="EFaturaFaultMessage" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="sendDocument">
      <soap12:operation soapAction="sendDocument" style="document" />
      <wsdl:input name="sendDocument">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="sendDocumentResponse">
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="EFaturaFaultMessage">
        <soap12:fault use="literal" name="EFaturaFaultMessage" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EFatura">
    <wsdl:port name="EFaturaSoap12" binding="tns:EFaturaSoapBinding">
      <soap12:address location="http://merkeztest.gelbim.gov.tr:30493/EFaturaMerkez/services/EFatura" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>